/* Give the image the ability to be used like a block element
(i.e. utlising margin, spacing values), using display: block */

div.main {
    width: 100%;
    text-align: center;
}

img {
    padding: 20px
}

form {
    padding-bottom: 25px;
}

/* Make sure to include outline: none to remove blue outline when selecting search bar! */
form input {
    width: 400px;
    height: 25px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    outline: none !important;
    text-indent: 20px;
}

form input:hover {
    box-shadow: 1px 1px 1px rgb(190, 190, 190);
}

[type=Button] {
    background-color: rgb(247, 243, 243);
    border: 1px rgb(252, 248, 248);
    border-radius: 3px;
    width: 125px;
    height: 30px;
    border-style: solid;
}

[type=Button]:hover {border: 1px solid rgb(223, 220, 220)}


/* margin left on the right button gives space between the two. */
#ifl {
    margin-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
  }

li {
    display: inline;
}

a {
    padding: 10px;
    font-size: 12px;
    color: black;
    text-decoration-line: none;
  }

a:hover {
    text-decoration-line: underline;
}

#gmail, #apps, #images, #signin {
    float: right;
  }

#about, #store {
    float: left;
}

#apps {
    margin-left: 15px;
    margin-top: -2px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: transparent;
    border-radius: 100%;
}

#apps:hover {
    background-color: rgb(241, 237, 237);
}

button i {
    font-size: 30px;
    color: rgb(143, 140, 140);
    vertical-align: middle;
}

#signin {
    color: white;
    background-color: rgb(49, 103, 219);
    font-size: 13px;
    width: 95px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: -2px;
}

#signin:hover {
    background-color: rgb(69, 117, 230);
}

#basepanel {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(241, 239, 239);
    border-bottom: 1px solid rgb(175, 174, 174);
}

div p {
    position: absolute;
    font-size: 13px;
    color: grey;
    vertical-align: middle;
    margin-left: 25px;
}

#basenavbar {
    background-color: rgb(241, 239, 239);
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 11px;
}

#basenavbar a {
    color: grey;
}

.left-nav {
    float: left;
}

#advertising {
    margin-left: 20px;
}

.right-nav {
    float: right;
}

.centre-nav {
    margin-left: 45%;
    position: absolute;
}


.right-nav, .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }